.btn_cadastro .ant-menu-item{
    color: bisque !important;
    
}

li .ant-menu-item{
    color:#fff !important;
}        

.ant-menu-horizontal > .ant-menu-item > a:hover{
    color:#fff !important;    
}
.ant-menu-item-active{
    
    color:#fff !important;
}